.NCI-title-container {
    position: absolute;
    top: 12.5%;
    left: 10%;
    width: 80%;
}

.NCI-club-container {
    position: absolute;
    top: 35%;
    left: 25%;
    width: 40%;
    display: flex;
    font-family: 'Montserrat';
    color: white;
}

.NCI-label {
    margin-left: 100px;
    margin-top: 5px;
    white-space: nowrap;
    text-align: center;
}

.NCI-checkbox {
    position: absolute;
    margin-left: 10px;
    margin-top: 2.5px;
    width: 30px;
    height: 30px;
}

.NCI-title-text {
    font-family: 'Montserrat';
    font-size: 300%;
    text-align: center;
    color: white;
}

.NCI-club-name-container {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.NCI-person-name-container {
    position: absolute;
    top: 58.5%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.NCI-person-item {
    margin-top: 2.5%;
}

.NCI-post-text-container {
    position: absolute;
    top: 47.5%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, 50%);
}