.CF-title-container {
    position: absolute;
    width: 50%;
    top: 18%;
    left: 50%;
    font-size: 350%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.CF-title-text {
    font-family: 'Montserrat';
    font-size: 120%;
    font-weight: bold;
    color: white;
}

.CF-clubs-container {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.CF-clubs-button {
    position: relative;
    margin-top: 2%;
    width: 50%;
    top: 45%;
    left: 50%;
    text-align: left;
    font-size: 150%;
    transform: translate(-50%, -50%);
}

.CF-club-role-text {
    font-family: 'Montserrat';
    font-size: 250%;
    font-weight: bold;
    color: white;
}

.CF-textbox-roles {
    position: absolute;
    text-align: center;
    top: 27%;
    left: 3%;
    border-radius: 10px;
    padding: 50px;
    background-color: darksalmon;
}

.CF-textbox-description {
    position: absolute;
    text-align: center;
    top: 27%;
    left: 34%;
    width: 63%;
    border-radius: 10px;
    padding: 50px;
    padding-top: 40px;
    min-height: 579px;
    background-color: darksalmon;
}

.CF-body-text {
    font-family: 'Montserrat';
    font-size: 135%;
    color: white;
}



