@font-face {
    font-family: Montserrat;
    src: url(../Assets/Montserrat-Font.ttf) format("truetype");
}

.LI-bg-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("PlazaOfTheAmericas.png");
    background-size: cover;
    filter: blur(8px);
}

.LI-title-container {
    position: absolute;
    top: 30%;
    width: 70%;
    left: 52.5%;
    transform: translate(-50%, -50%);
}   

.LI-title-text {
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: white;
}

.LI-email-box {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
}

.LI-password-box{
    position: absolute;
    top: 55%;
    left: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
}

.LI-login-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 20%;
    font-size: 200%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: darksalmon;
}

.LI-login-btn:hover {
    color: #A0FFDD;
    background-color: darksalmon;
}
