@font-face {
    font-family: Montserrat;
    src: url(../Assets/Montserrat-Font.ttf) format("truetype");
}

.LI-bg-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("PlazaOfTheAmericas.png");
    background-size: cover;
    filter: blur(8px);
}

.LI-title-container {
    position: absolute;
    top: 32%;
    width: 70%;
    left: 52.5%;
    transform: translate(-50%, -50%);
}   

.LI-title-text {
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: #A0FFDD;
}

.LI-email-box {
    position: absolute;
    top: 45%;
    left: 60%;
    width: 70%;
    transform: translate(-50%, -50%);
}

.LI-password-box{
    position: absolute;
    top: 55%;
    left: 60%;
    width: 70%;
    transform: translate(-50%, -50%);
}

.LI-login-btn {
    position: absolute;
    top: 67%;
    left: 50%;
    width: 20%;
    font-size: 200%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: darksalmon;
}

.LI-login-btn:hover {
    color: #A0FFDD;
    background-color: darksalmon;
}

.LI-create-account-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 10%;
    font-size: 90%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
}

.LI-create-account-btn:hover {
    color: #A0FFDD;
}

.LI-alert-container {
    position: absolute;
    top: -100%;
    left: 50%;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: red;
    animation: LIslideIn 0.5s forwards; /* Apply the animation */
}   

@keyframes LIslideIn {
    from {
        top: -100%;
    }
    to {
        top: 19%;
    }
}

.LI-alert {
    font-family: 'Montserrat';
    font-size: 100%;
    font-weight: bold;
    color: white;
}
