body {
    background-color: #5bd1a8;
}

@font-face {
    font-family: Montserrat;
    src: url(../Assets/Montserrat-Font.ttf) format("truetype");
}

.PP-search-bar {
    position: absolute;
    width: 50%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PP-title-container {
    position: absolute;
    top: 29%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}   

.PP-title-text {
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: white;
}

.PP-user-text {
    font-family: 'Montserrat';
    font-size: 100%;
    color: white;
}

.PP-forum-text {
    font-family: 'Montserrat';
    font-size: 100%;
    font-weight: bold;
    color: white;
}

.PP-post-container {
    position: absolute;
    width: 90%;

    top: 40%;
    left: 5%;
    border-radius: 10px;
    padding: 10px;
    background-color: darksalmon;
}

.PP-post-text {
    font-family: 'Montserrat';
    font-size: 100%;
    color: black;
}

.PP-comment-section-container {
    position: absolute;
    width: 90%;
    top: 85%;
    left: 5%;
    border-radius: 10px;
    padding: 10px;
    background-color: darksalmon;
}

.PP-comment-title-text {
    font-family: 'Montserrat';
    font-size: 200%;
    color: white;
}

.PP-comment-container {
    position: relative;
    margin-top: 2%;
    width: 90%;
    left: 5%;
    border-radius: 10px;
    padding: 10px;
    background-color: #5bd1a8;
}
