@font-face {
    font-family: Montserrat;
    src: url(../Assets/Montserrat-Font.ttf) format("truetype");
}

.CA-title-container {
    position: absolute;
    top: 27.5%;
    left: 60%;
    width: 60%;
    transform: translate(-60%, -50%);   
}

.CA-title-text {
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: #A0FFDD;
}

.CA-name-text {
    position: absolute;
    left: 30%;
    top: 40%;
}

.CA-email-text {
    position: absolute;
    left: 30%;
    top: 50%;

}

.CA-password-text {
    position: absolute;
    left: 30%;
    top: 60%; 
}

.CA-help-text {
    color: white;
}

.CA-create-btn {
    position: absolute;
    top: 75%;
    left: 50%;
    width: 20%;
    font-size: 200%;
    color: white;
    transform: translate(-50%, -50%);
}

.CA-create-btn:hover {
    color: #A0FFDD;
    background-color: darksalmon;
}

.CA-login-btn {
    position: absolute;
    top: 83%;
    left: 50%;
    width: 10%;
    font-size: 90%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: underline;
}

.CA-login-btn:hover {
    color: #A0FFDD;
}