@font-face {
    font-family: Montserrat;
    src: url(../Assets/Montserrat-Font.ttf) format("truetype");
}

.LP-bg-img {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("PlazaOfTheAmericas.png");
    background-size: cover;
    filter: blur(8px);
}

.LP-title-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LP-title-text {
    font-family: 'Montserrat';
    font-size: 400%;
    font-weight: bold;
    color: white;
}

.LP-title-2-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.LP-title-2-text {
    font-family: 'Montserrat';
    font-size: 225%;
    color: white;
}

.LP-login-btn {
    position: absolute;
    top: 70%;
    left: 37.5%;
    width: 20%;
    font-size: 200%;
    transform: translate(-50%, -50%);
    color: white;
}

.LP-login-btn:hover {
    color: #A0FFDD;
    background-color: darksalmon;
}

.LP-create-btn {
    position: absolute;
    top: 70%;
    left: 62.5%;
    width: 20%;
    font-size: 200%;
    transform: translate(-50%, -50%);
    color: white;
}

.LP-create-btn:hover {
    color: #A0FFDD;
    background-color: darksalmon;
}

.LP-learn-btn {
    position: absolute;
    top: 82%;
    left: 50%;
    width: 20%;
    font-size: 200%;
    transform: translate(-50%, -50%);
    color: white;
}

.LP-learn-btn:hover {
    color: #A0FFDD;
    background-color: darksalmon;
}